<ion-content>
  <ion-grid>
    <form [formGroup]="connectForm" (ngSubmit)="onSubmit()">
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h1> Connexion </h1>
          </div>
          <div class="ion-padding">
            <p class="ion-color-danger" style="text-align: center; color: lightcoral; margin-bottom: 20px"> {{ errorMessage }} </p>
            <ion-item id="rounded">
              <ion-label position="floating"> Email ou Pseudo </ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
              <ion-icon name="person-outline" slot="end" size="small"></ion-icon>
            </ion-item>

            <ion-item id="rounded">
              <ion-label position="floating"> Mot de passe </ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
              <ion-icon name="lock-closed-outline" slot="end" size="small"></ion-icon>
            </ion-item>
          </div>

          <div class="ion-padding">
            <ion-button size="medium" type="submit" color="success" expand="block" [disabled]="connectForm.invalid"> Se connecter </ion-button>
          </div>
          <div class="ion-padding connect-link" style="text-align: center">
            <a routerLink="/tabs/compte/inscription" class=""> S'inscrire </a>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

